.head{
    display: flex;
    justify-content: center;
  }
.form{
    background-color: rgba(187, 183, 183, 0.966);
    margin-left:  300px;
    width: 55vw;
  }
.heading h2{
    display: flex;
    justify-content: center;
    padding: 15px;
  }
.submit{
  margin-left: 150px;
}
.cursor{
  cursor: pointer;
}






  



  
  
